* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0; 
    padding: 0;
}

main {
    margin: 1%;
}

nav {
    background-color: rgba(115, 128, 252, 0.781);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;

}

nav ul li {
   
    padding: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

li.logo {
    width: 70%;
}

.header_img {
    position: relative;
}

.header_img img {
    width: 100%;
}

.header_text {
    position: absolute;
    left: 38%;
    bottom: 5%;
    color: white;
}

.menuContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.2rem;
}

.a {
    width: 100%;
    background-color: rgba(4, 18, 99, 0.479);
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.a img {
    width: 100%;
}

.a button {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1em;
}

.a button:hover {
    background-color: rgba(255, 149, 10, 0.781);
    color: white;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: rgba(72, 28, 231, 0.897);
}


footer {
    text-align: center;
    background-color:  rgba(98, 113, 245, 0.781);
    color: white;
    padding: 0.7rem;

}


